# Dependency directories
node_modules/

# Environment configuration files
.env

# Editor specific files
.vscode/
.idea/

# Operating System specific files
.DS_Store
Thumbs.db

# Log files
*.log
# Local Netlify folder
.netlify
